<head>
  <meta charset="utf-8">
  <title>{{ .Title }}</title>

  <!-- mobile responsive meta -->
  <meta name="description"
    content="{{ with .Description }}{{ . }}{{ else }}{{ with site.Params.description }}{{ . }}{{ end }}{{ end }}">
  <!-- multilingual SEO optimizations -->
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T2N24ZC');</script>
  <!-- End Google Tag Manager -->
  {{ if .IsTranslated }}
  {{ range .Page.AllTranslations }}
  <link rel="alternate" hreflang="{{ .Lang }}" href="{{ .Permalink }}">
  {{ end }}
  {{ end }}

  {{ with .Params.image }}
  <meta property="og:image" content="{{ . | absURL }}" />
  {{ end }}
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/google_analytics_async.html" . }}
  {{ site.Params.custom_script | safeHTML }}

  {{ partialCached "style.html" . }}

</head>